<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526258335682-qnr6hqm02hh2f2rsg6fsq8ilk8pcqknk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526258335682-qnr6hqm02hh2f2rsg6fsq8ilk8pcqknk</string>
	<key>API_KEY</key>
	<string>AIzaSyBXKyf2KlKhiTSpu2K7GbkU9GnKt9KRMbI</string>
	<key>GCM_SENDER_ID</key>
	<string>526258335682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3036a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3036a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526258335682:ios:593a7e31c275eff2ac305b</string>
</dict>
</plist>